<p>details</p>

<ul class="list-group" *ngFor="let item of data">
    <li class="list-group-item">Capital:{{item.capital}}</li>
    <li class="list-group-item">Population:{{item.population}}</li>
    <li class="list-group-item">Region:{{item.region}}</li>
    <li class="list-group-item">subregion:{{item.subregion}}</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
