<div class="col-lg-12">
<h1 style="text-align: center;">Countries</h1>
<div class="col-lg-12">
    <form class="form-inline">
      <div style="text-align: center;" class="col-lg-12">
        <div style="text-align: -webkit-center;margin-bottom: 4px;">
      <input class="form-control mr-sm-2" id="myinput" type="search" placeholder="Search" aria-label="Search" onkeyup="searchcountries()">
      </div>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div>
    </form>

    <script>


      const searchcountries =() => {
        let filter = document.getElementById('myinput').value.toUpperCase();
        let div= document.getElementsByTagName('div');

        for(var i=0; i<item.length;i++){
        let a = item[i].getElementsByTagName('a')[0];

        let textValue = item.name ;
          if(textValue.toUpperCase().indexOf(filter) > -1){
            item[i].style.display ='';

          }else{
            item[i].style.display ='none';
          } 

          }

      }
    </script>
    </div>
</div>

 


<div class="card mt-3 mx-auto" style="width: 18rem;" *ngFor="let item of data" >
  <img src="{{item.flag}}" class="card-img-top" alt="..." >
    <div class="card-body">
      <h5 class="card-title"><a href="#">{{item.name}}</a></h5>
      <p class="card-text">Currency:{{item.currencies}}</p>
      <p class="card-text">Current date and time: {{item.timezones}}</p>
      <a href="#" class="btn btn-primary">Show Map</a>
      <a href="/details.component.html" class="btn btn-primary mx-1">Details </a>
    </div>
  </div>
  